*.elc
*.pyc
*.info

# Packages installed for development
/.cask/

# Build files
/build/

# Generated distribution packages
/dist/

# Vagrant cache
/.vagrant

# Directory local variables
.dir-locals.el
