*.elc

# Packages installed for development
elpa/

# Generated package archive
flycheck-pkg.el
flycheck-*.tar

# Vagrant cache
.vagrant

# Info documentation
doc/flycheck.info
doc/dir

# HTML documentation
doc/html/