# -*- mode: conf; -*-

Biao Xie <423300@gmail.com>
Bozhidar Batsov <bozhidar@batsov.com> <bozhidar@tradeo.com>
Cristian Capdevila <capdevc@defvar.org>
Mark Hellewell <mark.hellewell@icloud.com>
Mark Karpov <markkarpov@opmbx.org>
Peter Vasil <mail@petervasil.net>
Sebastian Wiesner <swiesner@lunaryorn.com> <lunaryorn@gmail.com>
Senda Akiha <senda.akiha@gmail.com>
Steve Purcell <steve@sanityinc.com> <steve.purcell@powershop.co.nz>
Sylvain Benner <sylvain.benner@gmail.com>
Sylvain Rousseau <thisirs@gmail.com>
Syohei Yoshida <syohex@gmail.com>
Vlatko Basic <vlatko.basic@gmail.com>
Yuuki Arisawa <yuuki.ari@gmail.com>
Zhuo Yuan <yzprofiles@gmail.com>

# The real names of these contributors are unknown
papaeye <papaeye@gmail.com>
