# -*- mode: conf; -*-

Sebastian Wiesner <swiesner@lunaryorn.com> <lunaryorn@gmail.com>
Bozhidar Batsov <bozhidar@batsov.com> <bozhidar@tradeo.com>
Peter Vasil <mail@petervasil.net>
Sylvain Benner <sylvain.benner@gmail.com>
Mark Hellewell <mark.hellewell@icloud.com>
Sylvain Rousseau <thisirs@gmail.com>
Syohei Yoshida <syohex@gmail.com>
Senda Akiha <senda.akiha@gmail.com>
Yuuki Arisawa <yuuki.ari@gmail.com>
Biao Xie <423300@gmail.com>
Cristian Capdevila <capdevc@defvar.org>
Zhuo Yuan <yzprofiles@gmail.com>

# The real names of these contributors are unknown
papaeye <papaeye@gmail.com>
