# -*- mode: conf; -*-

Biao Xie <423300@gmail.com>
Bozhidar Batsov <bozhidar@batsov.com> <bozhidar@tradeo.com>
Chao SHEN <scturtle@gmail.com>
Cristian Capdevila <capdevc@defvar.org>
Manuel Uberti <manuel@boccaperta.com>
Manuel Uberti <manuel@boccaperta.com> <manuel-uberti@users.noreply.github.com>
Mark Hellewell <mark.hellewell@icloud.com>
Mark Karpov <markkarpov@opmbx.org>
Peter Vasil <mail@petervasil.net>
Romanos Skiadas <rski@users.noreply.github.com>
# Looks as if there's different unicode normalisations for this name
Saša Jovanić <sasa@simplify.ba>
Sean Whitton <spwhitton@spwhitton.name> <spwhitton@users.noreply.github.com>
Sebastian Schueppel <s3bs@users.noreply.github.com>
Sebastian Wiesner <swiesner@lunaryorn.com> <lunaryorn@gmail.com>
Sebastian Wiesner <swiesner@lunaryorn.com> <me@lunaryorn.com>
Senda Akiha <senda.akiha@gmail.com>
Steve Purcell <steve@sanityinc.com> <steve.purcell@powershop.co.nz>
Sylvain Benner <sylvain.benner@gmail.com>
Sylvain Rousseau <thisirs@gmail.com>
Vlatko Basic <vlatko.basic@gmail.com>
Yuuki Arisawa <yuuki.ari@gmail.com>
Zhuo Yuan <yzprofiles@gmail.com>

# These contributors prefer to remain anonymous
fmdkdd <fmdkdd@gmail.com>

# The real names of these contributors are unknown
papaeye <papaeye@gmail.com>
chessman <evgeniy.a@livetex.ru>
