language: emacs-lisp
sudo: required
env:
  # Run all unit tests on both Emacs versions
  - TRAVIS_BUILD=unit EMACS=emacs24
  - TRAVIS_BUILD=unit EMACS=emacs-snapshot
  # Build the manual.  We need to set EMACS, because it's required by the
  # makefile
  - TRAVIS_BUILD=manual EMACS=emacs
before_install:
  - export PATH="$HOME/.cask/bin:$PATH"
  - make -f travis.mk before_install
install:
  - make -f travis.mk install
script:
  - make -f travis.mk script
matrix:
  # Fast fail if any job fails.  We don't need to run all integration tests, if
  # the unit tests fail already.
  fast_finish: true
allow_failures:
  # Allow snapshot builds to fail, because emacs upstream sometimes break, and
  # the ubuntu-elisp PPA is only semi-alive, and does not regularly build
  # anymore.
  env:
    - TRAVIS_BUILD=unit EMACS=emacs-snapshot
